// Main Colors
$main-color: #cd0000;
$secondary-color: #555;
$selection-color: #4a4a4a;
$main-text-color: #2e2e2e;
$second-text-color: #7a7a7a;
$bg-1: rgba(0, 0, 0, 0.05);
$bg-2: #f4f4f4;

// Brands
$truper: #f16522;
$foset: #0079c0;
$fiero: #ec1f30;
$volteck: #2e328a;
$pretul: #231f20;
$pretul-2: #fff300;
$hermex: #d31245;
$hermex-2: #231f20;
$klintek: #4fc0b1;
$klintek-2: #58595b;

// Fierros Brand Kit
$fierros-orange: #f04f23;
$fierros-blue: #1d4289;
$fierros-lb: #00b5e2;
$fierros-grey-1: #63666a;
$fierros-yellow: #fdda25;
$fierros-grey-2: #3e3e41;
$fierros-green: #00af66;
$fierros-red: #f93822;
$fierros-green-2: #a4d65e;
$fierros-grey-3: #97979a;

//Other
$green-success: #28a745;
$success: #43a047;
$warning: #ffca28;
$danger: #f16522;
$atlantis: #202940;
$undraw-1: #d0cde1;
