.modal {
  @include flex();
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-modal;

  &-backdrop {
    background-color: rgba(#000, 0.33);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &-dialog {
    position: relative;
    background: #fff;
    padding: 20px 25px;
    min-width: 350px;
    max-width: calc(100% - 30px);
    z-index: 2;
    border-radius: 6px;
  }
  .btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    i {
      color: $main-text-color;
    }
  }
  &-header {
    @include flex();
    justify-content: space-between;
    h3 {
      color: $main-text-color;
    }
  }
  &-body {
    padding: 15px;
    max-width: 350px;
    .text {
      color: $main-text-color;
      text-align: left;
      font-weight: 500;
    }
  }
  &-footer {
    display: flex;
    padding: 0px 15px;
    border: none;
    justify-content: space-between;
  }
}
